@import "../../../styles/settings.scss";

.root {
  // margin-top: 3rem;
  // margin-bottom: 3rem;
  min-height: calc(100vh - 20rem);
  border: 1.5px solid $color-border-light;
  color: $color-text;
  border-radius: $radius;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  @media (max-width: $breakpoint-s) {
    margin: 2rem;
  }
}

.addCartForm,
.toCart {
  display: block;
  text-align: center;
  font-size: 2rem;
}

.inputQuantity {
  width: 70px;
  text-align: center;
}
