@import "../../../styles/settings.scss";

.root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  padding-top: 4rem;

  @media (max-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $breakpoint-s) {
    padding: 2rem;
    grid-template-columns: 1fr;
  }
}
