@import "../../../styles/settings.scss";

.hero {
  background-image: url("/img/hero.jpg");
  min-height: calc(100vh - 10rem);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @media (max-width: $breakpoint-s) {
    background-position: 48%;
  }
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-secondary;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-65%);
  overflow: hidden;
  cursor: pointer;

  @media (max-width: $breakpoint-s) {
    transform: translateX(-50%);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -300%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-bottom: 3px solid $color-background;
    border-right: 3px solid $color-background;
    box-shadow: 3px 3px 0 0 $color-secondary, 6px 6px 0 0 $color-background, 9px 9px 0 0 $color-secondary,
      12px 12px 0 0 $color-background;
    animation: arrow 0.85s infinite linear;
  }
}

@keyframes arrow {
  0% {
  }
  100% {
    transform: translate(-50%, 300%) rotate(45deg);
  }
}
