@import "./settings.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: $base-size;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text;
  background: $color-background;
  font-family: $font-text;
  font-size: ($base-size * 1.5);
  line-height: 1.5;
  letter-spacing: 0.5px;
  overflow-y: scroll;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: $container-width-large;
  width: 100%;
  padding: 2rem;
  flex-grow: 1;

  @media (max-width: $breakpoint-xl) {
    max-width: $container-width-medium;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: $container-width-small;
  }
}
