// Main colours - for client changing
$white: #ffffff;
$red: #af4b57;
$blue: #445878;
$black: #141414;
$dark-gray: #383a41;
$light-gray: #e0e4ec;

$color-text: $black;
$color-text-bright: $white;
$color-primary: $red;
$color-secondary: $blue;
$color-background: $white;
$color-background-dark: $dark-gray;
$color-border-dark: $dark-gray;
$color-border-light: $light-gray;

$color-success: #01916d;
$color-success-back: #00bc8c;
$color-info: #2b7cb3;
$color-info-back: #3598db;
$color-warning: #f0932b;
$color-warning-back: #d68529;
$color-danger: #f0932b;
$color-danger-back: #d68529;
$color-error: #ea2027;
$color-error-back: #ff5d6c;

$font-header: "Roboto", sans-serif;
$font-text: "Open Sans", sans-serif;

$radius: 5px;

$base-size: 12px;

$top-bar-size: 8rem;

$container-width-large: 1600px;
$container-width-medium: 1160px;
$container-width-small: 960px;

$breakpoint-xl: 1600px;
$breakpoint-lg: 1200px;
$breakpoint-m: 1024px;
$breakpoint-s: 768px;
$breakpoint-xs: 540px;

$transition: all 0.3s;
