@import "../../../styles/settings.scss";

.root {
  width: 100%;
  display: flex;
  input {
    background: $color-background;
    border: 1px solid $color-border-dark;
    padding: $base-size ($base-size * 1.5);
    font-family: $font-text;
    border-radius: $radius;
  }
}
