@import "../../../styles/settings.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
}

.select {
  position: absolute;
  top: 10rem;
  left: 1rem;
}
