@import "../../../styles/settings.scss";

// .root {

// }

.input {
  width: 50px;
  text-align: center;
  height: 32px;
  opacity: 0.5;
  background-color: transparent;
  border-radius: $radius;
  padding-left: 12px;
}
