@import "../../../styles/settings.scss";

.root {
  height: $top-bar-size;
  border-bottom: 1px solid $color-border-light;
}

.wrapper {
  margin: 0 auto;
  max-width: $container-width-xl;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: $breakpoint-xl) {
    max-width: $container-width-lg;
  }
  @media (max-width: $breakpoint-lg) {
    max-width: $container-width-m;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-s) {
    display: none;
  }
}

.hamburger {
  border: none;
  background-color: transparent;
  font-size: 3rem;
  margin-right: 2rem;
  padding: 0 2rem;
  display: none;
  outline-color: $color-secondary;

  @media (max-width: $breakpoint-s) {
    display: block;
  }
}
