@import "../../../styles/settings.scss";

.root {
  background-color: $color-secondary;
  color: $color-text-bright;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 1rem;
}

.link {
  color: $color-text-bright;
  font-weight: 700;
}
