@import "../../../styles/settings.scss";

title {
  margin-right: 1rem;
}
.additionalInfo {
  font-style: italic;
  font-size: 1.2rem;
  padding-left: 1rem;
  margin-top: 0.5rem;
}
.quantity {
  padding-left: 1rem;
}
.price {
  padding-left: 1rem;
}
